{
    "DbEngine": "mysql",
    "SqliteFile": "sqlite.db",
    
    "DbHost": "127.0.0.1",
    "DbPort": 3306,
    "DbUser": "root",
    "DbPsd": "root",
    "DbDatabase": "database",
    
    "AppHost": "",
    "AppPort": 8080,
    "AppMode": "debug",
    "AppTimeout": 10,
    "LogLevel": "debug",
    
	"PrimaryKey":      "id",
	"DefaultPageSize": 10,
    "SecretKey":"Abcd@123",
    "TokenExpiredTime": 3600
}